name: linter
on:
    push:
        tags:
            - v*
    pull_request:
        branches:
            - dev
            - master
            - release/*

jobs:
    lint:
        runs-on: ubuntu-latest
        container: golangci/golangci-lint:v2.7.2-alpine
        name: Run linter
        steps:
            - uses: actions/checkout@v6
              name: Checkout
              id: checkout
              with:
                  sparse-checkout: |
                      .github
                      .gitignore
                      .golangci.yml
                      README.md
                      LICENSE
            - name: Download and install dependencies
              id: install-deps
              run: |
                  go mod download
                  go mod tidy
                  go mod vendor
            - name: Run golangci-lint
              id: golangci-lint
              run: |
                  golangci-lint run